doctype html
html(lang="ru")
    head
        meta(charset ='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content='')
        meta(name='viewport' content='initial-scale=1.0, width=device-width')
        link(rel='icon' href='' type='')
        link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css")
        link(rel='stylesheet' href='css/styles.min.css')
        title new

    body
        include section/header.pug

        include section/baner.pug

        include section/about.pug

        include section/business.pug

        include section/project.pug

        include section/work.pug
        
        include section/partners.pug

        include section/object.pug
        
        include section/foo.pug
        
        include section/modal.pug

        a.js-pop(href="#ok") 

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src='js/scripts.min.js')