section#slide.about
  .container
    h2.title Что мы делаем
    .row
      .col-sm-10.col-md-6.col-lg-3.about-item
        .about-item-box
          <svg class="about-item-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="55" height="42.94" viewBox="0 0 55 42.94">
            <g>
              <path d="M35.000,4.012 C35.000,2.355 33.657,1.012 32.000,1.012 L24.000,1.012 C22.343,1.012 21.000,2.355 21.000,4.012 " class="cls-1"/>
              <path d="M55.000,42.928 L1.000,42.928 L1.000,6.928 L55.000,6.928 L55.000,42.928 Z" class="cls-1"/>
              <path d="M39.000,29.014 L39.000,21.012 L43.000,21.012 L43.000,29.014 L39.000,29.014 ZM13.000,21.012 L17.000,21.012 L17.000,29.014 L13.000,29.014 L13.000,21.012 Z" class="cls-1"/>
            </g>
          </svg>
          h3.about-item-title Генеральный подряд
          .about-item-context Мы берем на себя полную отстветсвенность за качество выполняемых работ
          a.btn.btn-gray(href='#')
            span Узнать больше
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="44" height="6.97" viewBox="0 0 44 6.97">
              <path d="M0.034,4.228 L39.601,4.228 L39.601,4.228 L37.773,5.869 C37.664,5.978 37.601,6.103 37.586,6.243 C37.570,6.384 37.609,6.509 37.703,6.618 L37.843,6.806 C37.952,6.915 38.085,6.969 38.242,6.969 C38.398,6.969 38.531,6.915 38.640,6.806 L41.617,4.111 C41.632,4.111 41.640,4.103 41.640,4.087 L41.828,3.900 C41.937,3.806 41.992,3.685 41.992,3.537 C41.992,3.388 41.937,3.259 41.828,3.150 L41.640,2.962 L41.617,2.962 L41.617,2.939 L38.593,0.173 C38.531,0.126 38.464,0.088 38.394,0.056 C38.324,0.025 38.253,0.009 38.183,0.009 C38.113,0.009 38.043,0.025 37.972,0.056 C37.902,0.088 37.843,0.126 37.796,0.173 L37.656,0.361 C37.562,0.470 37.523,0.595 37.539,0.736 C37.554,0.876 37.617,1.001 37.726,1.111 L39.507,2.728 L0.010,2.728 L0.034,4.228 Z" class="cls-1"/>
            </svg> 
      .col-sm-10.col-md-6.col-lg-3.about-item
        .about-item-box
          <svg class="about-item-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="49" height="54" viewBox="0 0 49 54">
            <g>
              <path d="M25.000,43.000 C26.104,43.000 27.000,43.895 27.000,45.000 C27.000,45.000 28.083,53.000 34.000,53.000 L39.000,53.000 C42.313,53.000 45.000,50.313 45.000,47.000 L45.000,41.000 C45.000,38.791 43.209,37.000 41.000,37.000 L9.000,37.000 C6.791,37.000 5.000,38.791 5.000,41.000 L5.000,47.000 C5.000,50.313 7.686,53.000 11.000,53.000 L16.000,53.000 C21.917,53.000 23.000,45.000 23.000,45.000 C23.000,43.895 23.895,43.000 25.000,43.000 Z" class="cls-1"/>
              <path d="M17.000,4.500 C8.805,7.700 3.000,15.672 3.000,25.000 L1.000,27.000 L1.000,31.000 C1.000,31.000 8.250,33.000 25.000,33.000 C41.750,33.000 49.000,31.000 49.000,31.000 L49.000,27.000 L47.000,25.000 C47.000,15.672 41.195,7.700 33.000,4.500 " class="cls-1"/>
              <path d="M17.000,11.000 L17.000,3.500 C17.000,2.119 18.119,0.999 19.500,0.999 L30.500,0.999 C31.881,0.999 33.000,2.119 33.000,3.500 L33.000,11.000 " class="cls-1"/>
              <path d="M45.000,47.000 L45.000,41.000 L49.000,41.000 L49.000,47.000 L45.000,47.000 ZM1.000,41.000 L5.000,41.000 L5.000,47.000 L1.000,47.000 L1.000,41.000 Z" class="cls-1"/>
            </g>
          </svg>
          h3.about-item-title Обще
            span -
            | строительные работы
          .about-item-context Производим комплексные капитальные, косметические или евро-ремонты
          a.btn.btn-gray(href='#')
            span Узнать больше
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="44" height="6.97" viewBox="0 0 44 6.97">
              <path d="M0.034,4.228 L39.601,4.228 L39.601,4.228 L37.773,5.869 C37.664,5.978 37.601,6.103 37.586,6.243 C37.570,6.384 37.609,6.509 37.703,6.618 L37.843,6.806 C37.952,6.915 38.085,6.969 38.242,6.969 C38.398,6.969 38.531,6.915 38.640,6.806 L41.617,4.111 C41.632,4.111 41.640,4.103 41.640,4.087 L41.828,3.900 C41.937,3.806 41.992,3.685 41.992,3.537 C41.992,3.388 41.937,3.259 41.828,3.150 L41.640,2.962 L41.617,2.962 L41.617,2.939 L38.593,0.173 C38.531,0.126 38.464,0.088 38.394,0.056 C38.324,0.025 38.253,0.009 38.183,0.009 C38.113,0.009 38.043,0.025 37.972,0.056 C37.902,0.088 37.843,0.126 37.796,0.173 L37.656,0.361 C37.562,0.470 37.523,0.595 37.539,0.736 C37.554,0.876 37.617,1.001 37.726,1.111 L39.507,2.728 L0.010,2.728 L0.034,4.228 Z" class="cls-1"/>
            </svg>
      .col-sm-10.col-md-6.col-lg-3.about-item
        .about-item-box
          <svg class="about-item-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="64.156" height="61.219" viewBox="0 0 64.156 61.219">
            <g>
              <path d="M40.414,36.611 C38.739,36.611 37.382,35.264 37.382,33.602 L37.382,29.089 C37.382,27.427 36.025,26.080 34.350,26.080 C32.676,26.080 31.319,27.427 31.319,29.089 L31.319,47.203 C31.319,48.865 29.962,50.212 28.287,50.212 C26.613,50.212 25.256,48.865 25.256,47.203 L25.256,37.113 C25.256,35.451 23.898,34.104 22.224,34.104 C20.550,34.104 19.193,35.451 19.193,37.113 L19.193,51.215 C19.193,52.877 17.835,54.224 16.161,54.224 C14.487,54.224 13.130,52.877 13.130,51.215 L13.130,30.373 C13.130,28.711 11.772,27.364 10.098,27.364 C8.424,27.364 7.066,28.711 7.066,30.373 L7.066,31.095 C7.066,32.757 5.709,34.104 4.035,34.104 C2.361,34.104 1.003,32.757 1.003,31.095 L1.003,12.038 C1.003,10.377 2.361,9.029 4.035,9.029 C5.709,9.029 7.066,10.377 7.066,12.038 L7.066,16.552 C7.066,18.214 8.424,19.561 10.098,19.561 C11.772,19.561 13.130,18.214 13.130,16.552 L13.130,5.018 C13.130,3.356 14.487,2.009 16.161,2.009 C17.835,2.009 19.193,3.356 19.193,5.018 L19.193,10.033 C19.193,11.694 20.550,13.041 22.224,13.041 C23.898,13.041 25.256,11.694 25.256,10.033 L25.256,4.015 C25.256,2.353 26.613,1.006 28.287,1.006 C29.962,1.006 31.319,2.353 31.319,4.015 L31.319,11.035 C31.319,12.697 32.676,14.044 34.350,14.044 C36.025,14.044 37.382,12.697 37.382,11.035 L37.382,8.528 C37.382,6.866 38.739,5.519 40.414,5.519 C42.088,5.519 43.445,6.866 43.445,8.528 L43.445,33.602 C43.445,35.264 42.088,36.611 40.414,36.611 Z" class="cls-1"/>
              <path d="M52.144,46.270 L63.942,58.076 L61.009,61.012 L49.211,49.205 L48.844,49.573 L45.526,46.252 L49.193,42.583 L52.511,45.903 L50.927,47.488 L52.144,46.270 ZM27.147,43.246 C25.925,44.469 23.944,44.469 22.723,43.246 L18.299,38.818 C17.077,37.596 17.077,35.614 18.299,34.391 L37.341,15.334 C38.563,14.111 40.544,14.111 41.765,15.334 L46.189,19.761 C47.411,20.984 47.411,22.966 46.189,24.189 L27.147,43.246 Z" class="cls-2"/>
              <path d="M46.880,19.657 L51.583,24.300 L45.665,40.596 L48.655,43.547 L47.160,45.023 L43.111,41.026 L49.029,24.731 L47.440,23.162 " class="cls-1"/>
            </g>
          </svg>
          h3.about-item-title Отделочные работы
          .about-item-context Поможем спроектировать, провести, уложить и смонтировать
          a.btn.btn-gray(href='#')
            span Узнать больше
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="44" height="6.97" viewBox="0 0 44 6.97">
              <path d="M0.034,4.228 L39.601,4.228 L39.601,4.228 L37.773,5.869 C37.664,5.978 37.601,6.103 37.586,6.243 C37.570,6.384 37.609,6.509 37.703,6.618 L37.843,6.806 C37.952,6.915 38.085,6.969 38.242,6.969 C38.398,6.969 38.531,6.915 38.640,6.806 L41.617,4.111 C41.632,4.111 41.640,4.103 41.640,4.087 L41.828,3.900 C41.937,3.806 41.992,3.685 41.992,3.537 C41.992,3.388 41.937,3.259 41.828,3.150 L41.640,2.962 L41.617,2.962 L41.617,2.939 L38.593,0.173 C38.531,0.126 38.464,0.088 38.394,0.056 C38.324,0.025 38.253,0.009 38.183,0.009 C38.113,0.009 38.043,0.025 37.972,0.056 C37.902,0.088 37.843,0.126 37.796,0.173 L37.656,0.361 C37.562,0.470 37.523,0.595 37.539,0.736 C37.554,0.876 37.617,1.001 37.726,1.111 L39.507,2.728 L0.010,2.728 L0.034,4.228 Z" class="cls-1"/>
            </svg> 
      .col-sm-10.col-md-6.col-lg-3.about-item
        .about-item-box
          <svg class="about-item-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="69.156" height="61.219" viewBox="0 0 69.156 61.219">
            <g>
              <path d="M32.007,9.541 L32.007,4.593 C32.007,4.259 31.740,3.988 31.410,3.988 L21.908,3.988 L21.908,3.988 C21.578,3.988 21.311,4.259 21.311,4.593 L21.311,9.459 C18.875,9.882 17.943,10.233 15.964,11.580 L12.922,8.495 C12.689,8.259 12.311,8.259 12.078,8.495 L12.078,8.495 L5.450,15.216 C5.217,15.452 5.217,15.835 5.450,16.071 L8.650,19.316 C7.218,21.281 6.720,22.034 6.217,24.577 L1.602,24.577 C1.272,24.577 1.005,24.848 1.005,25.182 L1.005,34.818 C1.005,35.152 1.272,35.422 1.602,35.422 L6.442,35.422 C6.872,37.649 7.598,38.908 8.689,40.645 L5.450,43.929 C5.217,44.165 5.217,44.548 5.450,44.784 L5.450,44.784 L12.078,51.505 C12.288,51.717 12.620,51.741 12.857,51.561 C13.122,51.361 13.318,51.114 13.654,50.738 C13.991,50.362 14.394,49.903 14.791,49.467 C15.188,49.030 15.582,48.615 15.878,48.343 C15.957,48.270 16.030,48.209 16.090,48.161 C17.929,49.292 19.138,49.943 21.311,50.381 L21.311,55.407 C21.311,55.741 21.578,56.011 21.908,56.011 L31.410,56.011 C31.740,56.011 32.007,55.741 32.007,55.407 L32.007,50.690 M10.068,40.633 C10.073,40.639 10.073,40.639 10.074,40.640 C10.074,40.640 10.068,40.633 10.068,40.633 Z" class="cls-1"/>
              <path d="M42.704,52.334 L37.484,46.016 C37.484,46.016 35.288,46.017 26.986,46.017 C18.684,46.017 11.954,39.294 11.954,31.000 C11.954,22.706 18.684,15.982 26.986,15.982 C27.351,15.982 27.469,15.968 27.469,15.968 M30.469,15.992 C31.884,15.990 32.510,15.989 32.510,15.989 M42.799,9.614 L37.482,16.013 L35.500,16.000 " class="cls-1"/>
              <path d="M54.917,43.989 L44.051,43.989 L39.917,38.989 C39.917,38.989 38.884,38.990 37.469,38.991 M34.500,38.994 C33.920,38.995 33.071,38.995 32.469,38.995 M29.500,38.997 C28.589,38.997 27.734,38.998 26.993,38.998 C22.568,38.998 18.981,35.415 18.981,30.994 C18.981,26.578 22.562,22.998 26.981,22.991 C28.234,22.994 39.917,23.010 39.917,23.010 L44.051,18.010 L54.917,18.010 M26.993,22.991 C26.989,22.991 26.985,22.991 26.981,22.991 C26.835,22.991 26.822,22.991 26.993,22.991 Z" class="cls-1"/>
              <path d="M37.469,30.992 L54.823,30.989 C54.823,30.989 38.884,30.991 37.469,30.992 ZM34.510,30.989 C34.510,30.989 33.884,30.991 32.469,30.992 L34.510,30.989 ZM29.500,30.994 C28.920,30.995 28.071,30.995 27.469,30.996 L29.500,30.994 Z" class="cls-1"/>
              <path d="M60.031,35.938 C57.287,35.938 55.063,33.713 55.063,30.969 C55.063,28.225 57.287,26.000 60.031,26.000 C62.775,26.000 65.000,28.225 65.000,30.969 C65.000,33.713 62.775,35.938 60.031,35.938 ZM60.031,22.938 C57.287,22.938 55.063,20.713 55.063,17.969 C55.063,15.224 57.287,13.000 60.031,13.000 C62.775,13.000 65.000,15.224 65.000,17.969 C65.000,20.713 62.775,22.938 60.031,22.938 ZM46.031,60.938 C43.287,60.938 41.063,58.713 41.063,55.969 C41.063,53.224 43.287,51.000 46.031,51.000 C48.775,51.000 51.000,53.224 51.000,55.969 C51.000,58.713 48.775,60.938 46.031,60.938 ZM46.031,10.937 C43.287,10.937 41.063,8.713 41.063,5.969 C41.063,3.225 43.287,1.000 46.031,1.000 C48.775,1.000 51.000,3.225 51.000,5.969 C51.000,8.713 48.775,10.937 46.031,10.937 ZM60.031,39.000 C62.775,39.000 65.000,41.225 65.000,43.969 C65.000,46.713 62.775,48.937 60.031,48.937 C57.287,48.937 55.063,46.713 55.063,43.969 C55.063,41.225 57.287,39.000 60.031,39.000 Z" class="cls-1"/>
            </g>
          </svg>
          h3.about-item-title Инжиниринг
          .about-item-context Поможем спроектировать, провести, уложить и смонтировать
          a.btn.btn-gray(href='#')
            span Узнать больше
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="44" height="6.97" viewBox="0 0 44 6.97">
              <path d="M0.034,4.228 L39.601,4.228 L39.601,4.228 L37.773,5.869 C37.664,5.978 37.601,6.103 37.586,6.243 C37.570,6.384 37.609,6.509 37.703,6.618 L37.843,6.806 C37.952,6.915 38.085,6.969 38.242,6.969 C38.398,6.969 38.531,6.915 38.640,6.806 L41.617,4.111 C41.632,4.111 41.640,4.103 41.640,4.087 L41.828,3.900 C41.937,3.806 41.992,3.685 41.992,3.537 C41.992,3.388 41.937,3.259 41.828,3.150 L41.640,2.962 L41.617,2.962 L41.617,2.939 L38.593,0.173 C38.531,0.126 38.464,0.088 38.394,0.056 C38.324,0.025 38.253,0.009 38.183,0.009 C38.113,0.009 38.043,0.025 37.972,0.056 C37.902,0.088 37.843,0.126 37.796,0.173 L37.656,0.361 C37.562,0.470 37.523,0.595 37.539,0.736 C37.554,0.876 37.617,1.001 37.726,1.111 L39.507,2.728 L0.010,2.728 L0.034,4.228 Z" class="cls-1"/>
            </svg>
          
