section.business
  .container
    h2.title.title-white Бизнес в цифрах
    .row.business-box
      .col-12.col-md-6.col-lg-2.offset-lg-1.business-item
        h3.business-item-title 20
        .business-item-context 
          span.business-item-context-wrap лет 
          | успешной работы
        a.btn.btn-white(href='#')
          span Узнать больше
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="44" height="6.97" viewBox="0 0 44 6.97">
            <path d="M0.034,4.228 L39.601,4.228 L39.601,4.228 L37.773,5.869 C37.664,5.978 37.601,6.103 37.586,6.243 C37.570,6.384 37.609,6.509 37.703,6.618 L37.843,6.806 C37.952,6.915 38.085,6.969 38.242,6.969 C38.398,6.969 38.531,6.915 38.640,6.806 L41.617,4.111 C41.632,4.111 41.640,4.103 41.640,4.087 L41.828,3.900 C41.937,3.806 41.992,3.685 41.992,3.537 C41.992,3.388 41.937,3.259 41.828,3.150 L41.640,2.962 L41.617,2.962 L41.617,2.939 L38.593,0.173 C38.531,0.126 38.464,0.088 38.394,0.056 C38.324,0.025 38.253,0.009 38.183,0.009 C38.113,0.009 38.043,0.025 37.972,0.056 C37.902,0.088 37.843,0.126 37.796,0.173 L37.656,0.361 C37.562,0.470 37.523,0.595 37.539,0.736 C37.554,0.876 37.617,1.001 37.726,1.111 L39.507,2.728 L0.010,2.728 L0.034,4.228 Z" class="cls-1"/>
          </svg> 
      .col-12.col-md-6.col-lg-3.business-item
        h3.business-item-title 200
        .business-item-context созданных объектов
        a.btn.btn-white(href='#')
          span Узнать больше
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="44" height="6.97" viewBox="0 0 44 6.97">
            <path d="M0.034,4.228 L39.601,4.228 L39.601,4.228 L37.773,5.869 C37.664,5.978 37.601,6.103 37.586,6.243 C37.570,6.384 37.609,6.509 37.703,6.618 L37.843,6.806 C37.952,6.915 38.085,6.969 38.242,6.969 C38.398,6.969 38.531,6.915 38.640,6.806 L41.617,4.111 C41.632,4.111 41.640,4.103 41.640,4.087 L41.828,3.900 C41.937,3.806 41.992,3.685 41.992,3.537 C41.992,3.388 41.937,3.259 41.828,3.150 L41.640,2.962 L41.617,2.962 L41.617,2.939 L38.593,0.173 C38.531,0.126 38.464,0.088 38.394,0.056 C38.324,0.025 38.253,0.009 38.183,0.009 C38.113,0.009 38.043,0.025 37.972,0.056 C37.902,0.088 37.843,0.126 37.796,0.173 L37.656,0.361 C37.562,0.470 37.523,0.595 37.539,0.736 C37.554,0.876 37.617,1.001 37.726,1.111 L39.507,2.728 L0.010,2.728 L0.034,4.228 Z" class="cls-1"/>
          </svg> 
      .col-12.col-md-6.col-lg-2.business-item
        h3.business-item-title 50
        .business-item-context штатных сотрудников
        a.btn.btn-white(href='#')
          span Узнать больше
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="44" height="6.97" viewBox="0 0 44 6.97">
            <path d="M0.034,4.228 L39.601,4.228 L39.601,4.228 L37.773,5.869 C37.664,5.978 37.601,6.103 37.586,6.243 C37.570,6.384 37.609,6.509 37.703,6.618 L37.843,6.806 C37.952,6.915 38.085,6.969 38.242,6.969 C38.398,6.969 38.531,6.915 38.640,6.806 L41.617,4.111 C41.632,4.111 41.640,4.103 41.640,4.087 L41.828,3.900 C41.937,3.806 41.992,3.685 41.992,3.537 C41.992,3.388 41.937,3.259 41.828,3.150 L41.640,2.962 L41.617,2.962 L41.617,2.939 L38.593,0.173 C38.531,0.126 38.464,0.088 38.394,0.056 C38.324,0.025 38.253,0.009 38.183,0.009 C38.113,0.009 38.043,0.025 37.972,0.056 C37.902,0.088 37.843,0.126 37.796,0.173 L37.656,0.361 C37.562,0.470 37.523,0.595 37.539,0.736 C37.554,0.876 37.617,1.001 37.726,1.111 L39.507,2.728 L0.010,2.728 L0.034,4.228 Z" class="cls-1"/>
          </svg> 
      .col-12.col-md-6.col-lg-3.business-item
        h3.business-item-title 100
        .business-item-context проверенных подрядчиков и поставщиков
        a.btn.btn-white(href='#')
          span Узнать больше
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="44" height="6.97" viewBox="0 0 44 6.97">
            <path d="M0.034,4.228 L39.601,4.228 L39.601,4.228 L37.773,5.869 C37.664,5.978 37.601,6.103 37.586,6.243 C37.570,6.384 37.609,6.509 37.703,6.618 L37.843,6.806 C37.952,6.915 38.085,6.969 38.242,6.969 C38.398,6.969 38.531,6.915 38.640,6.806 L41.617,4.111 C41.632,4.111 41.640,4.103 41.640,4.087 L41.828,3.900 C41.937,3.806 41.992,3.685 41.992,3.537 C41.992,3.388 41.937,3.259 41.828,3.150 L41.640,2.962 L41.617,2.962 L41.617,2.939 L38.593,0.173 C38.531,0.126 38.464,0.088 38.394,0.056 C38.324,0.025 38.253,0.009 38.183,0.009 C38.113,0.009 38.043,0.025 37.972,0.056 C37.902,0.088 37.843,0.126 37.796,0.173 L37.656,0.361 C37.562,0.470 37.523,0.595 37.539,0.736 C37.554,0.876 37.617,1.001 37.726,1.111 L39.507,2.728 L0.010,2.728 L0.034,4.228 Z" class="cls-1"/>
          </svg> 