footer.foo
  .container
    .row.foo-top
      .col-lg-2.col-md-3.foo-el
        a.foo-el-logo(href='')
          img(src="img/logo-foo.jpg" alt="logo")
        ul.social.social-foo
          li.social-el
            a(href="#") 
              i.icon-social-facebook
          li.social-el
            a(href="#")
              i.icon-social-twitter
          li.social-el
            a(href="#") 
              i.icon-social-instagram
      .col-lg-2.offset-lg-4.offset-sm-0.col-md-3.foo-el
        .foo-el-title Адрес
        .foo-el-cont 01021, Украина, г. Киев, ул. М. Грушевского, 28/2
      .col-lg-2.col-md-3.foo-el
        .foo-el-title Телефон
        a.foo-el-tel(href="tel:+380674620607") (067) 462-06-07
          span ,
        a.foo-el-tel(href="tel:+380674094597") (067) 409-45-97
      .col-lg-2.col-md-3.foo-el
        .foo-el-title Email
        a.foo-el-mail(href="mailto:in@bildex.ua") in@bildex.ua
    .row.foo-copy
      .col-md-4.copy © 2017 Все права защищены
      .col-md-5.offset-md-3.col-lg-4.offset-lg-2.foo-copy-dev Адаптивные сервисы от 
        a.foo-copy-dev-link(href="") makebecool
