header.header.js-header
  .container
    .row
      .header-top.js-header-top.d-flex.justify-content-between
        ul.social
          li.social-el
            a(href="#") 
              i.icon-social-facebook
            li.social-el
              a(href="#")
                i.icon-social-twitter
          li.social-el
            a(href="#") 
              i.icon-social-instagram
        .select.col-8.col-sm-5
          a.select-call(href="tel:+380674620607") (067) 462-06-07
          span.select-work-time Пн-пт.9:00-18:00
          ul.select-lang
            li
              a.select-lang-item(href="#") 
                img(src="img/b.png" alt="language")
            li
              a.select-lang-item.active-lang(href="#") 
                img(src="img/b.png" alt="language")
            li
              a.select-lang-item(href="#") 
                img(src="img/b.png" alt="language")

      .header-bot.d-flex.justify-content-between
        a.logo(href="#")
          img.logo-img.js-logo-img(src="img/logo.png" alt="logo")
          ul.logo-txt.js-logo-txt
            li Building
            li Excellence
            li Since 1995
        a#toggler.hamburger.hamburger--collapse.pull-right(href="")
          span.hamburger-box
            span.hamburger-inner
          span
        nav.nav.js-nav
          ul.nav-list.clearfix
            li.nav-list-li.nav-drop
              a.nav-list-link.js-drop(href="#" target="_self") О нас
                i.icon-arrow-down
              ul.nav-drop-list.js-drop-list
                li
                  a(href="")  Генеральный подряд
                li
                  a(href="")  Генеральный подряд
                li
                  a(href="")  Генеральный подряд
            li.nav-list-li
              a.nav-list-link(href="#") Проекты
            li.nav-list-li.nav-drop
              a.nav-list-link.js-drop(href="#" target="_self") Услуги
                i.icon-arrow-down
              ul.nav-drop-list.js-drop-list
                li
                  a(href="")  Генеральный подряд
                li
                  a(href="")  Генеральный подряд
                li
                  a(href="")  Генеральный подряд
            li.nav-list-li
              a.nav-list-link(href="#") Новости
            li.nav-list-li
              a.nav-list-link(href="#") Контакты


