#ok.modal
  .container
    .row
      .col-12.modal-box
        .modal-box-title 
          span спасибо!
          | Ваша заявка отправлена
        .icon-check
        .modl-box-txt Мы ознакомимся с вашим проектом
          br
          | и свяжемся по указанным контактам
