section.partn
  .container
    h2.title Наши партнеры
    .row
      .partn-box.js-partner-box
        .partn-box-el
          img(src="img/pa.jpg" alt="partners")
        .partn-box-el
          img(src="img/pb.jpg" alt="partners")
        .partn-box-el
          img(src="img/pc.jpg" alt="partners")
        .partn-box-el
          img(src="img/pd.jpg" alt="partners")
        .partn-box-el
          img(src="img/pe.jpg" alt="partners")
        .partn-box-el
          img(src="img/pf.jpg" alt="partners")
        .partn-box-el
          img(src="img/pg.jpg" alt="partners")